
/*===================================
    NAVBAR
===================================*/

#navbar {
    position: relative;
    background: rgba(0,0,0,0.5);
    padding: 20px 15% 20px 15%;
    z-index: 999;
}

#navbar_username{
    font-size: 20px;
    
    font-family: 'Roboto', sans-serif;
}


/*===================================
    TITLE
===================================*/


#title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#title_box h1{
    font-family: 'Lobster Two', sans-serif;
    letter-spacing: 1px;
}

/*===================================
    LINKS
===================================*/

#links_box {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    margin-top: 20px;
}

#links_box_1{
    display: flex;
    margin-right: auto;
    gap: 20px;
    cursor: default;
}

#links_box_2{
    display: flex;
    margin-left: auto;
    gap: 20px;
    cursor: pointer;
}

.navbar_links{
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 120px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid rgb(85, 102, 175);
}

.navbar_links:hover{
    color: rgb(172, 183, 231);
    background: rgba(255, 255, 255, 0.1);
}



/*===================================
    DROPDOWN
===================================*/

#travel_drop_box a:hover, 
#offers_drop_box a:hover{
    color: rgb(172, 183, 231);
    background: rgba(255, 255, 255, 0.1);
}

#travel_drop_box{
    width: 250px;
}

#offers_drop_box{
    width: 300px;
}

#travel_drop_box,
#offers_drop_box{
    position: absolute;
    z-index: 999;
    display: none;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    margin-top: 10px;

    border: 1px solid  black;

}

#travel_drop_box a{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    height: 30px;
    font-family: 'roboto', sans-serif;
}


#offers_drop_box a{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    height: 30px;
    font-family: 'roboto', sans-serif;
}





