
body{
    background: url('images_register/sea2.jpg');
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body:before{
    background: rgba(0, 0, 0, 0.5);
    content: "";
    inset: 0;
    position: absolute;
}

/*==========================
    CENTER
==========================*/

#center{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}  

/*==========================
    REGISTER NAVBAR
==========================*/

#center form{
    width: 100%;
}

#register_navbar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 3.5% 4%;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}

#register_navbar h2{
    font-family: 'Lobster Two', sans-serif;
}

#register_navbar div{
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#register_navbar div a{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 3px;
    width: 80px;
    height: 30px;
    text-decoration: none;
    color: white;
    font-family: 'roboto',sans-serif;
}

#register_navbar div a:hover{
    background-color: rgba(172, 172, 172, 0.5);
    color: rgb(172, 183, 231);
}

/*==========================
    IDENTITY REGISTER FORM
==========================*/



#identity_register_box{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1% 4% 6% 4%;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}

#identity_register_box h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4%;
}

.input_box{
    display: flex;
}

.input_box label{
    display: block;
    width: 200px;
}

.double_input_box{
    display: flex;
}

.double_input_box label{
    width: 15%;
}

.double_input_box input{
    width: 25%;
    margin-right: 8%;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid black;
}

.double_input_box button,
.double_input_box select{
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid black;
}


.double_input_box input::placeholder{
    color: rgb(199, 199, 199);
}


/*JS PART*/

#sex_box{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    font-size: 0.81rem;
    color: rgb(199, 199, 199);
    padding: 2px 2px;
    width: 100px;
    border: 1px solid black;
}

#sex_box:hover{
    color: white;
}

#sex_dropdown{
    box-sizing: border-box;
    position: absolute;
    display: none;
    font-size: 0.9rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 10px;
    width: 25%;
}

#sex_dropdown div{
    padding: 3px;
}

#sex_dropdown div:hover{
    color: rgb(172, 183, 231);
    cursor: pointer;
}



/*==========================
    LOCATION REGISTER FORM
==========================*/

#location_register_box{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    display: block;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 6% 4%;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}

/*==========================
    REGISTER BUTTON
==========================*/

#register_button{
    margin-left: auto;
    width: 20%;
}

#register_button:hover{
    cursor: pointer;
    color: rgb(163, 163, 163);
    background: rgba(255, 255, 255, 0.2);
}