
body{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("login_images/sea1.jpg");
    background-position: center;
}

body:before{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.5);
    inset: 0;
}

/*============================================
    CENTER
============================================*/

#center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
    z-index: 0;
}

#center:before{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.5);
    filter: blur(5px);
    inset: 0;
    
}

/*============================================
    NAVBAR
============================================*/

#navbar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    padding: 10px 20px;
    width: 500px;
    height: 50px;
    /*background-color: rgb(116, 135, 219);*/
}

#navbar h3{
    color: white;
}

#navbar div{
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#navbar a{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    width: 70px;
    height: 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(192, 192, 192);
}

#navbar a:hover{
    background-color: rgb(172, 172, 172);
    color: rgb(156, 17, 17);
}

/*============================================
    LOGIN BOX
============================================*/

#login_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    height: 300px;
    width: 500px;

    /*background-color: rgb(116, 135, 219);*/
}

#login_box h1{
    color: white;
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    padding: 10px;
    color: white;
}

#login_form button{
    background-color: rgb(158, 158, 158);
}

#login_form input{
    background-color: rgb(219, 219, 219);
}







